{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<section class="pb-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col d-flex align-items-center">
                <div class="d-inline-block p-3 p-md-4 rounded-circle bg-primary-alt">
                    <img src="{% static 'img/icons/theme/general/settings-1.svg' %}" alt="Confirmation Icon"
                        class="icon bg-primary" data-inject-svg="data-inject-svg">
                </div>
                <div class="ml-4">
                    <h1 class="mb-2">Account Settings</h1>
                    <div class="lead">Manage your profile preferences.</div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab"
                            aria-controls="general" aria-selected="true">Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="bg-light tab-content pt-5">
    <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
        <div class="container">
            <div class="row mb-4 mb-md-5 align-items-start">
                <div class="col-lg-4 order-lg-2 mb-4 mb-lg-0 sticky-lg-top pl-lg-5">
                    <div class="alert alert-primary">Your information is always kept secure and can never be accessed
                        by third parties.
                        <a href="#">View our Privacy Policy</a>
                    </div>
                </div>
                <div class="col-lg-8 border-lg-right pr-lg-5">
                    <div class="row mb-lg-5">
                        <div class="col">
                            <h3>Account Details</h3>
                        </div>
                    </div>
                    <form method="POST" novalidate>
                        {% csrf_token %}
                        {% include 'forms/form.html' with form=form label=True %}
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <p class="text-danger text-center">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                        <button class="btn btn-primary" type="submit">Save changes</button>
                    </form>
                    <hr>
                    <div class="row mb-lg-5">
                        <div class="col">
                            <h3>Delete Account</h3>
                            <p>
                                To delete you account and all data associated with it, click below. 
                                Please note that this operation is irreversible and you will not be
                                able to recover any data.
                            </p>
                        </div>
                    </div>
                    <form method="POST" action="{% url 'delete_account' user.email %}" onsubmit="return confirm('Are you sure you want to delete your account?');">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Delete Account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}