{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="pb-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col d-flex align-items-center">
                <div class="d-inline-block p-3 p-md-4 rounded-circle bg-primary-alt">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                        viewBox="0 0 24 24" version="1.1" class="injected-svg icon bg-primary"
                        data-src="/static/img/icons/theme/general/settings-1.svg" data-inject-svg="data-inject-svg">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                            <path
                                d="M7,3 L17,3 C19.209139,3 21,4.790861 21,7 C21,9.209139 19.209139,11 17,11 L7,11 C4.790861,11 3,9.209139 3,7 C3,4.790861 4.790861,3 7,3 Z M7,9 C8.1045695,9 9,8.1045695 9,7 C9,5.8954305 8.1045695,5 7,5 C5.8954305,5 5,5.8954305 5,7 C5,8.1045695 5.8954305,9 7,9 Z"
                                fill="#000000"></path>
                            <path
                                d="M7,13 L17,13 C19.209139,13 21,14.790861 21,17 C21,19.209139 19.209139,21 17,21 L7,21 C4.790861,21 3,19.209139 3,17 C3,14.790861 4.790861,13 7,13 Z M17,19 C18.1045695,19 19,18.1045695 19,17 C19,15.8954305 18.1045695,15 17,15 C15.8954305,15 15,15.8954305 15,17 C15,18.1045695 15.8954305,19 17,19 Z"
                                fill="#000000" opacity="0.3"></path>
                        </g>
                    </svg>
                </div>
                <div class="ml-4">
                    <h1 class="mb-2">Account Settings</h1>
                    <div class="lead">Manage your profile preferences.</div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab"
                            aria-controls="general" aria-selected="true">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="preferences-tab" data-toggle="tab" href="#preferences" role="tab"
                            aria-controls="preferences" aria-selected="false">Preferences</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="bg-light tab-content pt-5">
    <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
        <div class="container">
            <div class="row mb-4 mb-md-5 align-items-start">
                <div class="col-lg-4 order-lg-2 mb-4 mb-lg-0 sticky-lg-top pl-lg-5">
                    <div class="alert alert-primary">
                        Your information is always kept secure and can never be accessed
                        by third parties.
                        <a href="{% url 'privacy_policy' %}" target="_this">View our Privacy Policy</a>
                    </div>
                </div>
                <div class="col-lg-8 border-lg-right pr-lg-5">
                    <div class="row mb-lg-5">
                        <div class="col">
                            <h3>Account Details</h3>
                        </div>
                    </div>
                    <form method="POST" novalidate>
                        {% csrf_token %}
                        {% include 'forms/form.html' with form=form label=True %}
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <p class="text-danger text-center">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                        <button class="btn btn-primary" type="submit">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="preferences" role="tabpanel" aria-labelledby="preferences-tab">
        <div class="container">
            <div class="row mb-4 mb-md-5 align-items-start">
                <div class="col-lg-4 order-lg-2 mb-4 mb-lg-0 sticky-lg-top pl-lg-5">
                    <div class="alert alert-primary">
                        We will only send you occasional emails about new features and updates to the
                        site. You can opt-out at any time.
                        <a href="{% url 'privacy_policy' %}" target="_this">View our Privacy Policy</a>
                    </div>
                </div>
                <div class="col-lg-8 border-lg-right pr-lg-5">
                    <div class="row mb-lg-5">
                        <div class="col">
                            <h3>Account Preferences</h3>
                        </div>
                    </div>
                    <form method="POST" novalidate>
                        {% csrf_token %}
                        {{ preferences_form }}
                        <button class="btn btn-primary" type="submit">Save changes</button>
                    </form>
                    <hr>
                    <div class="row mb-lg-5">
                        <div class="col">
                            <h3>Delete Account</h3>
                            <p>
                                To delete you account and all data associated with it, click below. 
                                Please note that this operation is irreversible and you will not be
                                able to recover any data.
                            </p>
                        </div>
                    </div>
                    <form method="POST" action="{% url 'delete_account' %}" onsubmit="return confirm('Are you sure you want to delete your account?');">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Delete Account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}