{% extends 'auth_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div data-overlay class="min-vh-100 bg-light d-flex flex-column justify-content-md-center o-hidden">
    <section class="py-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-5 col-md-6 mb-5 mb-md-0">
                    <div class="card card-body shadow">
                        <h1 class="h5 text-center">Sign Up</h1>
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <p class="text-danger text-center">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                        <form method="POST" novalidate>
                            {% csrf_token %}
                            {% include 'forms/form.html' with form=form label=True remove_help_text=True %}
                            <button class="btn btn-primary btn-block" type="submit">Create account</button>
                        </form>
                        <p class="mt-4 text-center">Or sign up with</p>
                        <a class="btn btn-primary btn-block" style="background-color: #DB4437; border-color: #DB4437;"
                            href="{% url "social:begin" "google-oauth2" %}">
                            <img class="icon bg-white" src="{% static 'img/icons/social/google.svg' %}" alt="Icon" data-inject-svg />
                            Google+
                        </a>
                        <a class="btn btn-primary btn-block" style="background-color: #000000; border-color: #000000;"
                            href="{% url "social:begin" "github" %}">
                            <img class="icon bg-white" src="{% static 'img/icons/social/github.svg' %}" alt="Icon" data-inject-svg />
                            GitHub
                        </a>
                    </div>
                    <div class="text-center text-small mt-3">
                        Already have an account? <a href="{% url 'login' %}" class="fade-page">Sign in here</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-auto ml-lg-5 ">
                    <div class="mb-5">
                        <div class="mb-2 mb-md-4" data-aos="fade-left" data-aos-delay="100">
                            <div class="media rounded align-items-center pl-3 pr-3 pr-md-4 py-2 bg-white shadow-sm">
                                <img src="{% static 'img/avatars/male-4.jpg' %}" class="avatar avatar-sm flex-shrink-0 mr-3">
                                <div class="text-dark mb-0">&ldquo;We are working at almost twice the capacity&rdquo;
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 mb-md-4" data-aos="fade-left" data-aos-delay="200">
                            <div class="media rounded align-items-center pl-3 pr-3 pr-md-4 py-2 bg-white shadow-sm">
                                <img src="{% static 'img/avatars/male-1.jpg' %}" class="avatar avatar-sm flex-shrink-0 mr-3">
                                <div class="text-dark mb-0">&ldquo;Jumpstart increases productivity.&rdquo;</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h2>All plans include:</h2>
                        <div class="mb-3" data-aos="fade-left" data-aos-delay="300">
                            <div class="d-flex align-items-center">
                                <div class="rounded-circle bg-success-alt">
                                    <img src="{% static 'img/icons/interface/icon-check.svg' %}" alt="Binoculars icon"
                                        class="m-2 icon icon-xs bg-success" data-inject-svg>
                                </div>
                                <h6 class="mb-0 ml-3">Fully Responsive</h6>
                            </div>
                        </div>
                        <div class="mb-3" data-aos="fade-left" data-aos-delay="400">
                            <div class="d-flex align-items-center">
                                <div class="rounded-circle bg-success-alt">
                                    <img src="{% static 'img/icons/interface/icon-check.svg' %}" alt="Layouts icon"
                                        class="m-2 icon icon-xs bg-success" data-inject-svg>
                                </div>
                                <h6 class="mb-0 ml-3">Multiple Layouts</h6>
                            </div>
                        </div>
                        <div class="mb-3" data-aos="fade-left" data-aos-delay="500">
                            <div class="d-flex align-items-center">
                                <div class="rounded-circle bg-success-alt">
                                    <img src="{% static 'img/icons/interface/icon-check.svg' %}" alt="Box icon"
                                        class="m-2 icon icon-xs bg-success" data-inject-svg>
                                </div>
                                <h6 class="mb-0 ml-3">Modular Components</h6>
                            </div>
                        </div>
                        <div class="mb-3" data-aos="fade-left" data-aos-delay="600">
                            <div class="d-flex align-items-center">
                                <div class="rounded-circle bg-success-alt">
                                    <img src="{% static 'img/icons/interface/icon-check.svg' %}" alt="Lightning icon"
                                        class="m-2 icon icon-xs bg-success" data-inject-svg>
                                </div>
                                <h6 class="mb-0 ml-3">Suits Your Style</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}