{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Django Notebook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bootstrap HTML template and UI kit by Medium Rare">
    <!-- Begin loading animation -->
    <link href="{% static 'css/loaders/loader-pulse.css' %}" rel="stylesheet" type="text/css" media="all" />
    <!-- End loading animation -->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="loader">
        <div class="loading-animation"></div>
    </div>

    <div class="navbar-container" style="min-height: 80px; margin-bottom: -80px;">
        <nav class="navbar navbar-expand-lg navbar-light" data-overlay="" data-sticky="top"
            style="max-width: 1516px; top: 0px;">
            <div class="container">
                <a class="navbar-brand navbar-brand-dynamic-color fade-page" href="{% url 'home' %}">
                    Django Notebook
                </a>
                <div class="d-flex align-items-center order-lg-3">
                    <a href="{% url 'signup' %}"
                        class="btn btn-primary ml-lg-4 mr-3 mr-md-4 mr-lg-0 d-none d-sm-block order-lg-3 fade-page">Get
                        Started</a>
                    <button aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                        data-target=".navbar-collapse" data-toggle="collapse" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            class="injected-svg navbar-toggler-open icon icon-sm"
                            data-src="{% static 'img/icons/interface/icon-menu.svg' %}"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path d="M3 12H21" stroke="#2C3038" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path d="M3 6H21" stroke="#2C3038" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path d="M3 18H21" stroke="#2C3038" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            class="injected-svg navbar-toggler-close icon icon-sm"
                            data-src="{% static 'img/icons/interface/icon-x.svg' %}"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path d="M18 6L6 18" stroke="#2C3038" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path d="M6 6L18 18" stroke="#2C3038" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </button>
                </div>
                <div class="collapse navbar-collapse order-3 order-lg-2 justify-content-lg-end" id="navigation-menu">
                    <ul class="navbar-nav my-3 my-lg-0">
                        <li class="nav-item">
                            <a href="{% url 'login' %}" class="nav-link fade-page">Sign In</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    {% block content %}{% endblock %}

    <footer class="bg-primary-3 text-white links-white pb-4 pt-4 footer-1">
        <div class="container">
            <div
                class="row flex-column flex-lg-row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left">
                <div class="col-auto">
                    <div class="d-flex flex-column flex-sm-row align-items-center text-small">
                        <div class="text-muted">Copyright © 2020 Django Notebook, All rights reserved
                        </div>
                    </div>
                </div>
                <div class="col-auto mt-3 mt-lg-0">
                    <ul class="list-unstyled d-flex mb-0">
                        <li class="mx-3">
                            <a href="https://github.com/Maxamuss/django-notebook" target="_this" class="hover-fade-out">
                                <img class="icon icon-sm bg-white" src="{% static 'img/icons/social/github.svg' %}"
                                    alt="Icon" data-inject-svg />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <a href="#top" class="btn btn-primary rounded-circle btn-back-to-top" data-smooth-scroll data-aos="fade-up"
        data-aos-offset="2000" data-aos-mirror="true" data-aos-once="false">
        <img src="{% static 'img/icons/interface/icon-arrow-up.svg' %}" alt="Icon" class="icon bg-white"
            data-inject-svg>
    </a>
    <!-- Required vendor scripts (Do not remove) -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

    <!-- Select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <!-- AOS (Animate On Scroll - animates elements into view while scrolling down) -->
    <script type="text/javascript" src="{% static 'js/aos.js' %}"></script>
    <!-- Clipboard (copies content from browser into OS clipboard) -->
    <script type="text/javascript" src="{% static 'js/clipboard.min.js' %}"></script>
    <!-- Fancybox (handles image and video lightbox and galleries) -->
    <script type="text/javascript" src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    <!-- Flatpickr (calendar/date/time picker UI) -->
    <script type="text/javascript" src="{% static 'js/flatpickr.min.js' %}"></script>
    <!-- Flickity (handles touch enabled carousels and sliders) -->
    <script type="text/javascript" src="{% static 'js/flickity.pkgd.min.js' %}"></script>
    <!-- Ion rangeSlider (flexible and pretty range slider elements) -->
    <script type="text/javascript" src="{% static 'js/ion.rangeSlider.min.js' %}"></script>
    <!-- Isotope (masonry layouts and filtering) -->
    <script type="text/javascript" src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <!-- jarallax (parallax effect and video backgrounds) -->
    <script type="text/javascript" src="{% static 'js/jarallax.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jarallax-video.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jarallax-element.min.js' %}"></script>
    <!-- jQuery Countdown (displays countdown text to a specified date) -->
    <script type="text/javascript" src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <!-- jQuery smartWizard facilitates steppable wizard content -->
    <script type="text/javascript" src="{% static 'js/jquery.smartWizard.min.js' %}"></script>
    <!-- Plyr (unified player for Video, Audio, Vimeo and Youtube) -->
    <script type="text/javascript" src="{% static 'js/plyr.polyfilled.min.js' %}"></script>
    <!-- Prism (displays formatted code boxes) -->
    <script type="text/javascript" src="{% static 'js/prism.js' %}"></script>
    <!-- ScrollMonitor (manages events for elements scrolling in and out of view) -->
    <script type="text/javascript" src="{% static 'js/scrollMonitor.js' %}"></script>
    <!-- Smooth scroll (animation to links in-page)-->
    <script type="text/javascript" src="{% static 'js/smooth-scroll.polyfills.min.js' %}"></script>
    <!-- SVGInjector (replaces img tags with SVG code to allow easy inclusion of SVGs with the benefit of inheriting colors and styles)-->
    <script type="text/javascript" src="{% static 'js/svg-injector.umd.production.js' %}"></script>
    <!-- TwitterFetcher (displays a feed of tweets from a specified account)-->
    <script type="text/javascript" src="{% static 'js/twitterFetcher_min.js' %}"></script>
    <!-- Typed text (animated typing effect)-->
    <script type="text/javascript" src="{% static 'js/typed.min.js' %}"></script>
    <!-- Required theme scripts (Do not remove) -->
    <script type="text/javascript" src="{% static 'js/theme.js' %}"></script>
    <!-- Removes page load animation when window is finished loading -->
    <script type="text/javascript">
        window.addEventListener("load", function () { document.querySelector('body').classList.add('loaded'); });
    </script>

</body>

</html>