{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Django Notebook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bootstrap HTML template and UI kit by Medium Rare">
    <!-- Begin loading animation -->
    <link href="{% static 'css/loaders/loader-pulse.css' %}" rel="stylesheet" type="text/css" media="all" />
    <!-- End loading animation -->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700&display=swap" rel="stylesheet">

    {% block head_extra %}{% endblock head_extra %}
</head>

<body>
    <div class="loader">
        <div class="loading-animation"></div>
    </div>

    <div class="navbar-container">
        <nav class="navbar navbar-expand-lg {% block nav-bar-color %}navbar-light{% endblock nav-bar-color %}" {% block nav-bar-overlay %}data-overlay{% endblock nav-bar-overlay %}>
            <div class="container">
                <a class="navbar-brand navbar-brand-dynamic-color fade-page" href="{% url 'home' %}">
                    Django Notebook
                </a>
                <div class="d-flex align-items-center order-lg-3">
                        Home
                    <button aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                        data-target=".navbar-collapse" data-toggle="collapse" type="button">
                        <img alt="Navbar Toggler Open Icon" class="navbar-toggler-open icon icon-sm" data-inject-svg
                            src="{% static 'img/icons/interface/icon-menu.svg' %}">
                        <img alt="Navbar Toggler Close Icon" class="navbar-toggler-close icon icon-sm" data-inject-svg
                            src="{% static 'img/icons/interface/icon-x.svg' %}">
                    </button>
                </div>
                <div class="collapse navbar-collapse order-3 order-lg-2 justify-content-lg-end" id="navigation-menu">
                    <ul class="navbar-nav my-3 my-lg-0">
                        <li class="nav-item">
                            <div class="dropdown">
                                <a aria-expanded="false" aria-haspopup="true"
                                    class="nav-link nav-item" data-toggle="dropdown-grid"
                                    href="#" role="button">Demos</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    
    {% block content %}{% endblock content %}

    <footer class="bg-primary-3 text-white links-white pb-4 footer-1">
        <div class="container">
            <div class="row">
                <div class="col-xl-auto mr-xl-5 col-md-3 mb-4 mb-md-0">
                    <h5>Demos</h5>
                    <ul class="nav flex-row flex-md-column">
                        <li class="nav-item mr-3 mr-md-0">
                            <a href="landing-1.html" class="nav-link fade-page px-0 py-2">Landing 1</a>
                        </li>
                        <li class="nav-item mr-3 mr-md-0">
                            <a href="landing-2.html" class="nav-link fade-page px-0 py-2">Landing 2</a>
                        </li>
                        <li class="nav-item mr-3 mr-md-0">
                            <a href="landing-3.html" class="nav-link fade-page px-0 py-2">Landing 3</a>
                        </li>
                        <li class="nav-item mr-3 mr-md-0">
                            <a href="landing-4.html" class="nav-link fade-page px-0 py-2">Landing 4</a>
                        </li>
                        <li class="nav-item mr-3 mr-md-0">
                            <a href="landing-5.html" class="nav-link fade-page px-0 py-2">Landing 5</a>
                        </li>
                        <li class="nav-item mr-3 mr-md-0">
                            <a href="landing-6.html" class="nav-link fade-page px-0 py-2">Landing 6</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-auto mr-xl-5 col-md-3">
                    <h5>Pages</h5>
                    <ul class="nav flex-row flex-md-column">
                        <li class="nav-item mr-3 mr-md-0">
                            <a href="company-about-1.html" class="nav-link fade-page px-0 py-2">Company</a>
                        </li>
                        <li class="nav-item mr-3 mr-md-0">
                            <a href="blog-listing-1.html" class="nav-link fade-page px-0 py-2">Blog</a>
                        </li>
                        <li class="nav-item mr-3 mr-md-0">
                            <a href="help-center-home.html" class="nav-link fade-page px-0 py-2">Help Center</a>
                        </li>
                        <li class="nav-item mr-3 mr-md-0">
                            <a href="careers-1.html" class="nav-link fade-page px-0 py-2">Careers</a>
                        </li>
                        <li class="nav-item mr-3 mr-md-0">
                            <a href="case-studies.html" class="nav-link fade-page px-0 py-2">Case Studies</a>
                        </li>
                        <li class="nav-item mr-3 mr-md-0">
                            <a href="pricing-plans.html" class="nav-link fade-page px-0 py-2">Pricing</a>
                        </li>
                    </ul>
                </div>
                <div class="col mt-4 mt-md-0 mt-lg-5 mt-xl-0 order-lg-4 order-xl-3">
                    <h5>Demo</h5>
                    <ul class="list-unstyled d-flex flex-wrap">
                        <li class="col-12 col-lg-6 col-xl-12 px-0">
                            <div class="row my-2 my-md-3">
                                <a class="col-5" href="#">
                                    <img class="rounded img-fluid hover-fade-out" src="assets/img/blog/thumb-2.jpg"
                                        alt="blog.1.image">
                                </a>
                                <div class="col">
                                    <a class="h6" href="#">Unveiling our new vision for Jumpstart</a>
                                    <div class="text-small text-muted mt-2">October 10th</div>
                                </div>
                            </div>
                        </li>
                        <li class="col-12 col-lg-6 col-xl-12 px-0">
                            <div class="row my-2 my-md-3">
                                <a class="col-5" href="#">
                                    <img class="rounded img-fluid hover-fade-out" src="assets/img/blog/thumb-1.jpg"
                                        alt="blog.2.image">
                                </a>
                                <div class="col">
                                    <a class="h6" href="#">Making the most of team-building sessions</a>
                                    <div class="text-small text-muted mt-2">October 2nd</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg mt-2 mt-md-5 mt-lg-0 order-lg-3 order-xl-4">
                    <h5>Newsletter</h5>
                    <div class="card card-body bg-white">
                        <p>Get infomation about PassYourMaths.co.uk</p>
                        <form data-form-email="" novalidate=""
                            action="https://mailform.mediumra.re/jumpstart/mailchimp.php">
                            <div class="d-flex flex-column flex-sm-row form-group">
                                <input class="form-control mr-sm-2 mb-2 mb-sm-0 w-auto flex-grow-1" name="email"
                                    placeholder="Email Address" type="email" required="">
                                <button type="submit" class="btn btn-primary btn-loading" data-loading-text="Sending">
                                    <!-- Icon for loading animation -->
                                    <svg class="icon bg-white" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <title>Icon For Loading</title>
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g>
                                                <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>
                                            </g>
                                            <path
                                                d="M12,4 L12,6 C8.6862915,6 6,8.6862915 6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,10.9603196 17.7360885,9.96126435 17.2402578,9.07513926 L18.9856052,8.09853149 C19.6473536,9.28117708 20,10.6161442 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 Z"
                                                fill="#000000" fill-rule="nonzero"
                                                transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) ">
                                            </path>
                                        </g>
                                    </svg>
                                    <span>Go</span>
                                </button>
                            </div>
                            <div data-recaptcha="" data-sitekey="6Lemz4gUAAAAAElq4ZHFBzI7j8QUiYMn9I0mzQWG"
                                data-size="invisible" data-badge="bottomleft">
                                <div class="grecaptcha-badge" data-style="bottomleft"
                                    style="width: 256px; height: 60px; position: fixed; visibility: hidden; display: block; transition: right 0.3s ease 0s; bottom: 14px; right: -186px; box-shadow: gray 0px 0px 5px; border-radius: 2px; overflow: hidden;">
                                    <div class="grecaptcha-logo"><iframe
                                            src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6Lemz4gUAAAAAElq4ZHFBzI7j8QUiYMn9I0mzQWG&amp;co=aHR0cHM6Ly9qdW1wc3RhcnQubWVkaXVtcmEucmU6NDQz&amp;hl=en&amp;v=-wV2EAWEOTlEtZh4vNQtn3H1&amp;size=invisible&amp;badge=bottomleft&amp;cb=6tx6acyn68o5"
                                            width="256" height="60" role="presentation" name="a-5uf7vmpvrro" frameborder="0"
                                            scrolling="no"
                                            sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
                                    </div>
                                    <div class="grecaptcha-error"></div><textarea id="g-recaptcha-response"
                                        name="g-recaptcha-response" class="g-recaptcha-response"
                                        style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                                </div>
                            </div>
                            <div class="d-none alert alert-success w-100" role="alert" data-success-message="">
                                Thanks, a member of our team will be in touch shortly.
                            </div>
                            <div class="d-none alert alert-danger w-100" role="alert" data-error-message="">
                                Please fill all fields correctly.
                            </div>
                            <div class="text-small text-muted">We'll never share your email address</div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr>
                </div>
            </div>
            <div
                class="row flex-column flex-lg-row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left">
                <div class="col-auto">
                    <div class="d-flex flex-column flex-sm-row align-items-center text-small">
                        <div class="text-muted">© Copyright 2020, Pass Your Maths
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <a href="#top" class="btn btn-primary rounded-circle btn-back-to-top" data-smooth-scroll data-aos="fade-up"
        data-aos-offset="2000" data-aos-mirror="true" data-aos-once="false">
        <img src="{% static 'img/icons/interface/icon-arrow-up.svg' %}" alt="Icon" class="icon bg-white" data-inject-svg>
    </a>
    <!-- Required vendor scripts (Do not remove) -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    
    <!-- Select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <!-- AOS (Animate On Scroll - animates elements into view while scrolling down) -->
    <script type="text/javascript" src="{% static 'js/aos.js' %}"></script>
    <!-- Clipboard (copies content from browser into OS clipboard) -->
    <script type="text/javascript" src="{% static 'js/clipboard.min.js' %}"></script>
    <!-- Fancybox (handles image and video lightbox and galleries) -->
    <script type="text/javascript" src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    <!-- Flatpickr (calendar/date/time picker UI) -->
    <script type="text/javascript" src="{% static 'js/flatpickr.min.js' %}"></script>
    <!-- Flickity (handles touch enabled carousels and sliders) -->
    <script type="text/javascript" src="{% static 'js/flickity.pkgd.min.js' %}"></script>
    <!-- Ion rangeSlider (flexible and pretty range slider elements) -->
    <script type="text/javascript" src="{% static 'js/ion.rangeSlider.min.js' %}"></script>
    <!-- Isotope (masonry layouts and filtering) -->
    <script type="text/javascript" src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <!-- jarallax (parallax effect and video backgrounds) -->
    <script type="text/javascript" src="{% static 'js/jarallax.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jarallax-video.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jarallax-element.min.js' %}"></script>
    <!-- jQuery Countdown (displays countdown text to a specified date) -->
    <script type="text/javascript" src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <!-- jQuery smartWizard facilitates steppable wizard content -->
    <script type="text/javascript" src="{% static 'js/jquery.smartWizard.min.js' %}"></script>
    <!-- Plyr (unified player for Video, Audio, Vimeo and Youtube) -->
    <script type="text/javascript" src="{% static 'js/plyr.polyfilled.min.js' %}"></script>
    <!-- Prism (displays formatted code boxes) -->
    <script type="text/javascript" src="{% static 'js/prism.js' %}"></script>
    <!-- ScrollMonitor (manages events for elements scrolling in and out of view) -->
    <script type="text/javascript" src="{% static 'js/scrollMonitor.js' %}"></script>
    <!-- Smooth scroll (animation to links in-page)-->
    <script type="text/javascript" src="{% static 'js/smooth-scroll.polyfills.min.js' %}"></script>
    <!-- SVGInjector (replaces img tags with SVG code to allow easy inclusion of SVGs with the benefit of inheriting colors and styles)-->
    <script type="text/javascript" src="{% static 'js/svg-injector.umd.production.js' %}"></script>
    <!-- TwitterFetcher (displays a feed of tweets from a specified account)-->
    <script type="text/javascript" src="{% static 'js/twitterFetcher_min.js' %}"></script>
    <!-- Typed text (animated typing effect)-->
    <script type="text/javascript" src="{% static 'js/typed.min.js' %}"></script>
    <!-- Required theme scripts (Do not remove) -->
    <script type="text/javascript" src="{% static 'js/theme.js' %}"></script>
    <!-- Removes page load animation when window is finished loading -->
    <script type="text/javascript">
        window.addEventListener("load", function () { document.querySelector('body').classList.add('loaded'); });
    </script>
    {% block scripts_extra %}{% endblock scripts_extra %}

</body>

</html>