{% extends 'base.html' %}
{% load static %}

{% block nav-bar-color %}navbar-dark{% endblock nav-bar-color %}

{% block content %}
{% with search_query=request.GET.q %}
<div data-overlay="" class="{% if not search_query %}min-vh-100{% endif %} bg-primary-3 text-white o-hidden" style="padding-top: 62px !important;">
    <section {% if search_query %}class="pt-4 pb-0"{% endif %}>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9 text-center">
                    <h1 class="display-3">Search for a Note</h1>
                    <div class="lead">Search your Notes or quickly find what you are looking for in the Django documentation</div>
                    <form class="mt-5 d-flex flex-column flex-md-row form-group" method="GET">
                        <input class="form-control form-control-lg h-100 mb-2 mb-md-0 mr-md-3" name="q"
                            placeholder="Search Notes..." type="search" value="{{ search_query|default:'' }}">
                        <button class="btn btn-lg btn-primary" type="submit">Search</button>
                    </form>
                    <div class="d-flex align-items-center justify-content-center" style="overflow: hidden; white-space: nowrap;">
                        <div class="text-small mb-2 mb-sm-0 mr-2">Recent searches:</div>
                        <ul class="d-flex list-unstyled mb-0" style="overflow: hidden">
                            {% for search in user.get_recent_searches %}
                                <li class="m-1">
                                    <a class="badge badge-pill badge-white" href="{% url 'search' %}?q={{ search.query }}">{{ search.query }}</a>
                                </li>
                            {% empty %}
                                <li class="m-1">
                                    <a class="badge badge-pill badge-white">No recent searches</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="position-absolute w-50 h-75 bottom right" data-jarallax-element="100"
            style="z-index: 0; transform: translate3d(0px, 5.53668px, 0px);">
            <div class="blob blob-4 bg-gradient w-100 h-100 bottom right"></div>
            <div id="jarallax-container-0"
                style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;">
                <div style="position: fixed;"></div>
            </div>
        </div>
    </section>
    {% if search_query %}
        <div class="divider divider-bottom bg-light"></div>
    {% endif %}
</div>
{% if search_query %}
    <section class="bg-light pt-1 pb-0">
        <div class="container">
            <h2 class="h1 mt-4">Your Notes</h2>
            <div class="row">
                {% for note in object_list %}
                    {% if forloop.counter == 7 %}
                        <button class="btn btn-primary mx-auto" onclick="$('#moreResultsButton').hide();" data-toggle="collapse" id="moreResultsButton" href="#moreResults" role="button" aria-expanded="false">
                            Show more results
                        </button>
                        <div class="collapse row" id="moreResults">
                    {% endif %}
                    <div class="col-sm-12 col-md-6 col-lg-4 my-2">
                        <a href="{% url 'view_note' note.id %}" class="card card-body hover-box-shadow p-4 h-100">
                            <h4>{{ note.title }}</h4>
                            <div style="height: 250px; overflow: hidden;" class="note-content">{{ note.content }}</div>
                        </a>
                    </div>
                    {% if forloop.last and forloop.counter >= 6 %}
                        </div>
                    {% endif %}
                {% empty %}
                    <div class="col-sm-12 col-md-6 col-lg-4 my-2">
                        <p>
                            You haven't created any notes yet. 
                            <a href="{% url 'create_note' %}">Create Note</a>
                        </p>
                    </div>
                {% endfor %}
            </div>
            <hr class="my-md-4 my-lg-5">
            <!-- <h2 class="h1 mt-4">Django Docs</h2>
            <div class="lead mb-4">
                Results directly from the Django documentation {{ django_docs_info.version }} 
                <a href="{{ django_docs_info.url }}">docs.djangoproject.com</a>.
            </div>
            <ul class="list-group">
                {% for result in django_search_results %}
                    <a href="{{ result.url }}" target="_blank">
                        <li class="list-group-item p-4 my-1">
                            <h6 class="mb-2">{{ result.title }}</h6>
                            <p>{{ result.breadcrumbs }}</p>
                        </li>
                    </a>
                {% empty %}
                    <p class="mt-4">No results found.</p>
                {% endfor %}
            </ul> -->
        </div>
        <div class="divider divider-bottom bg-primary-3"></div>
    </section>
{% endif %}
{% endwith %}
{% endblock content %}