{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="pb-0 bg-light">
    <div class="container">
        <div class="row section-title justify-content-center text-center my-4 mt-md-0">
            <div class="col-md-9 col-lg-8 col-xl-7">
                <h3 class="display-4">Create a new Note</h3>
                <div class="lead">Create Notes to never forgot those little things ever again!</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9 col-md-10">
                <form action="" method="post" novalidate>
                    {% csrf_token %}
                    {% include 'forms/form.html' with form=form label=True %}
                    <div class="custom-control custom-switch mr-4 mb-4">
                        <input type="checkbox" class="custom-control-input" id="is-public-radio" name="is_public" checked="">
                        <label class="custom-control-label" for="is-public-radio">Anyone can view</label>
                    </div>
                    <h4>References</h4>
                    {% include 'forms/references_form.html' with references=references %}
                    <button class="btn btn-primary btn-block" type="submit">Create Note</button>
                </form>
            </div>
        </div>
    </div>
    <div class="divider divider-bottom bg-primary-3"></div>
</section>
{% endblock content %}

{% block scripts_extra %}
    <script src="{% static 'js/formset/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        var simplemde = new SimpleMDE({
            status: false,
            spellChecker: false,
            renderingConfig: {
                codeSyntaxHighlighting: true,
            },
            showIcons: ['code', 'table', 'redo', 'heading', 'undo'],
            hideIcons: ['side-by-side', 'fullscreen'],
        });

        $('.formset_row').formset({
            addText: 'Add another reference +',
            deleteText: 'X',
            prefix: 'references'
        });
    </script>
{% endblock scripts_extra %}