{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="pb-0 bg-light">
    {# Begin form here to include is_public radio button #}
    <form method="post" novalidate>
    {% csrf_token %}
    <div class="container">
        <div class="row section-title justify-content-center text-center my-4 mt-md-0">
            <div class="col-md-12 col-lg-9 col-xl-9">
                <div class="row">
                    <div class="col d-flex flex-column align-items-start">
                        <nav aria-label="breadcrumb ">
                            <ol class="breadcrumb px-3">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'view_note' object.id %}">
                                        <img src="{% static 'img/icons/interface/icon-arrow-left.svg' %}" alt="arrow-left icon"
                                            class="icon icon-sm text-primary">
                                        Go back
                                    </a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col d-flex flex-column align-items-end">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="is_public-radio" name="is_public" {% if object.is_public %}checked=""{% endif %}>
                            <label class="custom-control-label" for="is_public-radio">Anyone can view</label>
                        </div>
                    </div>
                </div>  
                <h3 class="display-4 mb-2">Edit Note</h3>
                <small class="text-muted my-2">
                    Created on {{ object.date_created }}<br>
                    Last updated {{ object.last_edited }}<br>
                    {{ object.meta_data.num_views }} View{{ object.meta_data.num_views|pluralize }} | {{ object.meta_data.num_clones }} Clone{{ object.meta_data.num_clones|pluralize }}
                </small>
            </div>
        </div>
        <div class="row justify-content-center mt-0">
            <div class="col-md-12 col-lg-9 col-xl-9">
                    {% include 'forms/form.html' with form=form label=True %}
                    <h4>References</h4>
                    {% include 'forms/references_form.html' with references=references %}
                    <button class="btn btn-primary btn-block" type="submit">Save Note</button>
                </form>
                <form method="POST" action="{% url 'delete_note' object.id %}" onsubmit="return confirm('Are you sure you want to delete this Note?');">
                    {% csrf_token %}
                    <button class="btn btn-danger float-right mt-2" type="submit">Delete Note</button>
                </form>
            </div>
        </div>
    </div>
    <div class="divider divider-bottom bg-primary-3"></div>
</section>
{% endblock content %}

{% block scripts_extra %}
    <script src="{% static 'js/formset/jquery.formset.js' %}"></script>
    <script src="{% static 'js/forms/note-content.js' %}"></script>
{% endblock scripts_extra %}