{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head_extra %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/github-gist.min.css">
{% endblock head_extra %}

{% block content %}
<div class="pb-0 min-vh-100 o-hidden" data-overlay="" style="padding-top: 80px !important;">
    <section class="">
        <div class="container">
            <div
                class="row justify-content-center justify-content-lg-between text-center text-lg-left">
                <div class="col-md-9 col-lg-6 col-xl-5 pl-lg-5 pl-xl-0 order-lg-1 aos-init aos-animate"
                    data-aos="fade-left" data-aos-delay="250">
                    <h1 class="display-3">My <mark data-aos="highlight-text" data-aos-delay="500"
                            class="aos-init aos-animate">Notes</mark></h1>
                    <p class="lead">
                        <ul>
                            {% for note in object_list %}
                               <li><a href="{% url 'view_note' note.id %}" class="fade-page">{{ note.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </p>
                </div>
                <div class="col-md-8 col-lg-6 mt-4 mt-md-5 mt-lg-0 order-lg-2 aos-init aos-animate"
                    data-aos="fade-right">
                    {% with note=object_list.first %}
                        {% if note %}
                        <a href="{% url 'view_note' note.id %}" class="fade-page">
                            <div class="card card-body hover-box-shadow pt-4">
                                <h5 class="display-5 text-center">{{ note.title }}</h5>
                                <div class="lead" id="content">{{ note.content }}</div>
                            </div>

                        </a>

                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="position-absolute w-50 h-100 top right" data-jarallax-element="50"
            style="z-index: 0; transform: translate3d(0px, 1.1876px, 0px);">
            <div class="blob bg-primary opacity-20 w-100 h-100 top left"></div>
            <div id="jarallax-container-0"
                style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;">
                <div style="position: fixed;"></div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}

{% block scripts_extra %}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>

<script>
    hljs.initHighlightingOnLoad();
    $(".note-content").each(function () {
        content = $(this).html();
        if (content != '') {
            $(this).html(marked(content));
        }
    });
    var content = document.getElementById('content');
    var currentContext = content.innerHTML;
    var mdown = document.getElementById('mdown');
    content.innerHTML = marked(currentContext);
</script>
{% endblock scripts_extra %}