{% extends 'base.html' %}
{% load static %}

{% block head_extra %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
{% endblock head_extra %}

{% block content %}
<div class="pb-0 min-vh-100 o-hidden" data-overlay="" style="padding-top: 80px !important;">
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="d-flex flex-column align-items-start">
                        <h1 class="display-3">Edit <mark data-aos="highlight-text" data-aos-delay="500"
                                class="aos-init aos-animate">Notes</mark></h1>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex flex-column align-items-end">
                        <nav aria-label="breadcrumb ">
                            <ol class="breadcrumb px-3">
                                <a href="{% url 'notes' %}">
                                    <li class="breadcrumb-item">
                                        <img src="{% static 'img/icons/theme/layout/layout-grid.svg' %}"
                                            class="icon icon-md sm-icon-sm text-primary">
                                    </li>
                                </a>
                                <a href="#" class="mx-3">
                                    <li class="breadcrumb-item">
                                        <img src="{% static 'img/icons/theme/layout/layout-left-panel-2.svg' %}"
                                            class="icon icon-md text-primary">
                                    </li>
                                </a>
                                <a href="{% url 'notes_tag_mode' %}">
                                    <li class="breadcrumb-item">
                                        <img src="{% static 'img/icons/theme/layout/layout-4-blocks.svg' %}"
                                            class="icon icon-md text-primary">
                                    </li>
                                </a>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <table id="notesTable" class="table table-bordered">
                <thead>
                    <th>Title</th>
                </thead>
            </table>
        </div>
        <div class="position-absolute w-50 h-100 top right" data-jarallax-element="50"
            style="z-index: 0; transform: translate3d(0px, 1.1876px, 0px);">
            <div class="blob bg-primary opacity-20 w-100 h-100 top left"></div>
            <div id="jarallax-container-0"
                style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;">
                <div style="position: fixed;"></div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}

{% block scripts_extra %}

{% endblock scripts_extra %}