{% extends 'auth_base.html' %}

{% block content %}
<div data-overlay class="min-vh-100 bg-light d-flex flex-column justify-content-md-center">
    <section class="py-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-5 col-md-6">
                    <div class="card card-body shadow">
                        <h1 class="h5 text-center">Check Your Inbox</h1>
                        <p class="text-center">
                            We've emailed you instructions for setting your password. You should receive the email shortly!
                        </p>
                        <p class="text-center">
                            If you don't receive an email, please make sure you've entered the address you registered with,
                            and check your spam folder.
                        </p>
                    </div>
                    <div class="text-center text-small mt-3">
                        Remembered your password? <a href="{% url 'login' %}" class="fade-page">Sign in here</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}