{% extends 'auth_base.html' %}
{% load widget_tweaks %}

{% block content %}
<div data-overlay class="min-vh-100 bg-light d-flex flex-column justify-content-md-center">
    <section class="py-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-5 col-md-6">
                    <div class="card card-body shadow">
                        {% if validlink %}
                            <h1 class="h5 text-center">Reset Password</h1>
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <p class="text-danger text-center">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                            <form method="POST" novalidate>
                                {% csrf_token %}
                                {% include 'forms/form.html' with form=form %}
                                {% endfor %}
                                <button class="btn btn-primary btn-block" type="submit">Sign In</button>
                            </form>
                        {% else %}
                            <p class="text-center">
                                The password reset link was invalid, possibly because it has already been used.
                                Please request a new password reset.
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}